.hero{
    display: flex;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
.hero-left{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.2vw;
    padding-left: 6.4vw;
    line-height: 1.2;
}
.hero-left h3{
    font-size: 1.5vw;
    font-weight: 600;
    color: #090909;
}
.hero-left p{
    font-size: 4.2vw;
    font-weight: 500;
    color: #171717;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
}
.hero-hand-icon img{
    width: 4.5vw;
    padding-left: 1.2vw;
}
.hero-latest-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 89, 89);
    border: 1px solid rgb(190, 112, 112);
    border-radius: 28px;
    width: 18vw;
    padding: 0.8vw 2vw;
    font-weight: 500;
    margin-top: 1vw;
    gap: 0.7vw;
    cursor: pointer;
}
.hero-latest-button button{
    background-color: rgb(249, 89, 89);
    border: none;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
}
.hero-latest-button img{
    width: 2.2vw;
}

.hero-right img{
    max-width: 100%;
    width: 50vw;
    height: 40vw;
}
.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}